* {
  margin: 0;
}

.app__header{
  object-fit: contain; /*Maintain Aspect Ratio */
  padding: 1rem;
  background-color: #fafafa;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
}

.App {

  background-color: #ffffff;
  height: 100vh;
}

.post{
  display: flex;
}