* {
  margin: 0;
}

.app__header{
  object-fit: contain; /*Maintain Aspect Ratio */
  padding: 0 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  height: var(--nav__size);
}

.App {

  background-color: #fafafa;
  height: 100vh;
}

.post{
  display: flex;
  flex-direction: column;
 
}

.openwing-header-main--logo_container {
    width: 100px;
    height: 13px;
    /* text-indent: -999em; */
    display: block;
    /* overflow: hidden; */
    /* background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    box-shadow: none;
    background-image: url(https://svgshare.com/s/N_H); */
}