* {
  margin: 0;
}

.app__header{
  object-fit: contain; /*Maintain Aspect Ratio */
  padding: 0 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  height: var(--nav__size);
}

.App {

  background-color: #fafafa;
  height: 100vh;
}

.post{
  display: flex;
  flex-direction: column;
}