<div class="main-menu-container main-menu-container" style="top: 0px;">
  <div class="container-branding">
    <h1 class="tsla-header-main--logo_container">
      <a
        href="https://www.tesla.com"
        class="tsla-header-main--logo tds-icon tds-icon-wordmark"
        title="Tesla Motors"
      >
        Tesla, Inc
      </a>
    </h1>
  </div>
  <div class="package-options--nav">
    <ul
      class="packages-options--nav-list"
      role="tablist"
      arial-label="Main menu"
    >
      <li
        class="packages-options--nav-item packages-options--nav-item_selected"
        tabindex="0"
        arial-label="battery"
        role="tab"
        data-id-selected="true"
      >
        <h2 class="packages-options--nav-title">
          <span>Car</span>
        </h2>
      </li>
      <li
        class="packages-options--nav-item"
        tabindex="0"
        arial-label="paint"
        role="tab"
        data-id-selected="false"
      >
        <h2 class="packages-options--nav-title">
          <span>Exterior</span>
        </h2>
      </li>
      <li
        class="packages-options--nav-item"
        tabindex="0"
        arial-label="interior"
        role="tab"
        data-id-selected="false"
      >
        <h2 class="packages-options--nav-title">
          <span>Interior</span>
        </h2>
      </li>
      <li
        class="packages-options--nav-item"
        tabindex="0"
        arial-label="autopilot"
        role="tab"
        data-id-selected="false"
      >
        <h2 class="packages-options--nav-title">
          <span>Autopilot</span>
        </h2>
      </li>
      <li
        class="packages-options--nav-item"
        tabindex="0"
        arial-label="payment"
        role="tab"
        data-id-selected="false"
      >
        <h2 class="packages-options--nav-title">
          <span>Payment</span>
        </h2>
      </li>
    </ul>
  </div>
  <div class="wrap-container--next wrap-container--item right-nav"></div>
  <div class="modal-trigger" role="link" tabindex="-1">
    <div class="main-menu-container--country-selector">
      <a
        class="main-menu--country-icon"
        tabindex="0"
        role="link"
        aria-label="country selector"
      >
        <i class=""></i>
        <span class="country-selector--name">US</span>
      </a>
    </div>
  </div>
</div>
